.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #1e1e1e; */
  background: #003366;
  color: white;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-btn {
  background: #e74c3c;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background: #c0392b;
}

.user-email {
  font-size: 14px;
  color: #ddd;
  margin-right: 10px;
}
